.departments {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #fff;
    text-align: center;
}
.departments .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
